<a href="/dashboard" class="text-black">&larr; Geri</a>
<div class="admin_title mt-4">
    <h2>Yeni Yazı Ekle</h2>
</div>
<form action="add_post" method="POST">
    <label for="title"><b>Başlık</b></label>
    <input type="text" placeholder="Yazı Başlığı" name="title">

    <label for="body"><b>Metin</b></label>
    <textarea name="body" cols="50" rows="10"></textarea>
    <input type="submit" value="Kaydet" class="btn">
</form>