<h3>Giriş</h3>

<form action="/admin" method="POST" class="m-3">
    <label for="username"><b>Kullanıcı Adı:</b></label>
    <input type="text" placeholder="Kullanıcı adınızı giriniz" name="username">

    <label for="password"><b>Şifre:</b></label>
    <input type="password" placeholder="Şifrenizi giriniz" name="password">

    <input type="submit" value="Giriş" class="btn mb-3">

</form>

<h3>Yeni Kullanıcı</h3>

<form action="/register" method="POST" class="m-3">
    <label for="username"><b>Kullanıcı Adı:</b></label>
    <input type="text" placeholder="Kullanıcı adınızı giriniz" name="username">

    <label for="password"><b>Şifre:</b></label>
    <input type="password" placeholder="Şifrenizi giriniz" name="password">

    <input type="submit" value="Kayıt Ol" class="btn">

</form>